*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

.app{
  text-align: center;
  padding: 2rem;
  max-width: 470px;
  margin: auto;
}

.container{
  text-align: center;
}

.date{
  display: flex;
  margin: 2rem 0 1rem 0;
}

.date p{
  padding: 0 2px;
}


.input-container{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon{
  position: absolute;
  left: 15px;
  top: 0;
  font-size: 20px;
  color: #4b00ff;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}

.todolist-icon{
  margin-top: 13px;
  margin-left: 5px;
  font-size: x-large;
  color: #4b00ff;
}

.header-div{
  display: flex;
  text-transform: capitalize;
}

.input-box{
  border: 1px solid #eee;
  padding: 5px 10px 5px 50px;
  font-size: 17px;
  line-height: 30px;
  outline: 0;
  display: block;
  width: 100%;
  border-radius: 8px;
}

.input-box:hover{
  border-color: #4b00ff;
}

.input-box::placeholder{
  color: rgba(0, 0, 0, 0.466);
}

.task-items{
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
  font-size: 18px;
  line-height: 30px;
  margin: 8px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-items:hover{
  color: #4b00ff;
  border-color: #4b00ff;
}

.icon-task{
  font-size: 20px;
  color: #4b00ff;
}

.task-items p{
  text-transform: capitalize;
}

.completed{
  background-color: #eee;
  text-decoration: line-through;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-input{
  border: 1px solid #eee;
  padding: 5px 10px 5px 50px;
  font-size: 17px;
  line-height: 30px;
  outline: 0;
  display: block;
  width: 100%;
  border-radius: 8px;
}

.menu-input:hover{
  border-color: #4b00ff;
}

.menu-input::placeholder{
  color: rgba(0, 0, 0, 0.466);
}

.create-button{
  padding: 10px 20px;
  background-color: #4b00ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 6px;
  margin-top: 1.5rem;
}

.create-button:hover{
  background-color: #2e0788;
  color: #eee;
}

.input-header-name{
  margin-right: 200px;
  margin-bottom: 10px;
  font-weight: 700;
}

.input-header-listname{
  margin-right: 92px;
  margin-bottom: 10px;
  font-weight: 700;
  margin-top: 2rem;
}

.date{
  font-weight: 500;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.task-number{
  margin-top: 20px;
  font-weight: 500;
}

.error-message-top, .error-message-bottom{
  font-size: 12px;
  color: rgba(255, 0, 0, 0.76);
  display: none;
  text-transform: capitalize;
  margin-top: 10px;
}



.bottom:invalid ~ .error-message-bottom {
  display: block;
}

.top:invalid ~ .error-message-top {
  display: block;
}

@media only screen and (min-width: 350px){
  .input-header-name{
    margin-right: 120px;
    font-size: small;
  }

  .input-header-listname{
    margin-right: 30px;
    font-size: small;
  }
  
}

@media only screen and (min-width: 450px){
  .input-header-name{
    margin-right: 200px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: medium;
  }
  
  .input-header-listname{
    margin-right: 80px;
    margin-bottom: 10px;
    font-weight: 700;
    margin-top: 2rem;
    font-size: medium;
  }
}

